@using DictionaryApplication.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav navbar-nav-login">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link small-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Current User:<br> @User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form class="nav-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Index" method="post">
                <button type="submit" class="nav-link btn btn-link small-text">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link small-text" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link small-text" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }

</ul>