@page
@using DictionaryApp.Models;
@using DictionaryApplication.Data;
@model SelectDictionariesForTestModel
@{
    ViewData["Title"] = "Knowledge Test";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="SelectUserDictionaries" method="post">
    <div class="form-group">
        <label asp-for="IdsOfSelectedDictionariesForTest" class="control-label">Select dictionaries:</label>
        <br />

        <button type="button" id="select-all-btn">Select all options</button>
        <button type="button" id="unselect-all-btn">Unselect all options</button>
        <br />


        @for (int i = 0; i < Model.UserDictionaries.Count(); i++)
        {
            var dictionary = Model.UserDictionaries[i];
            <input type="checkbox" id="SelectedDictionaryIds_@i" name="IdsOfSelectedDictionariesForTest" value="@dictionary.Id" />
            <label for="SelectedDictionaryIds_@i">@dictionary.Name</label>

            <br />
        }
        <span asp-validation-for="IdsOfSelectedDictionariesForTest" class="text-danger"></span>
        <span id="selected-dictionaries-error" class="text-danger" style="display:none;">Please select at least one dictionary.</span>
    </div>
    <br />

    <button type="submit">Continue</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $("#select-all-btn").click(function () {
                $("input[name='IdsOfSelectedDictionariesForTest']").prop("checked", true);
            });

            $("#unselect-all-btn").click(function () {
                $("input[name='IdsOfSelectedDictionariesForTest']").prop("checked", false);
            });

            $("form").submit(function () {
                var selectedDictionaries = $("input[name='IdsOfSelectedDictionariesForTest']:checked");

                if (selectedDictionaries.length == 0) {
                    $("#selected-dictionaries-error").show();
                    return false;
                }

                return true;
            });
        });
    </script>
}