@page
@using DictionaryApplication.Models;
@using DictionaryApplication.Data;
@model DictionaryApplication.Pages.KnowledgeTest.TestWordModel
@{
    ViewData["Title"] = "Enter the translation:";
}

<h2>@ViewData["Title"]</h2>
<br />
<form asp-action="SumbitTranslation" method="post" id="translationForm">
    <h5>
        @Html.Raw(Model.DisplayedLexeme.Replace("\n", "<br />"))
    </h5>
    <br />
    <div class="form-group">
        <input asp-for="TestAnswer" class="form-control" />
        <span asp-validation-for="TestAnswer" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}