@page
@using DictionaryApplication.Models;
@using DictionaryApplication.Data;
@model DictionaryApplication.Pages.KnowledgeTest.TestResultModel
@{
    ViewData["Title"] = "Test Result";
}


<div class="container text-center">
    <h2 class="mt-lg-5">
        Your test result is:
    </h2>
    <br />
    <h1>@ViewData["TotalCorrectAnswers"] out of @ViewData["TotalAnswers"] (@ViewData["CorrectAnswersPercentage"]%)</h1>
    <br />
    <br />
    <br />
    <a class="back-link" asp-page="/UserDictionarySelector/Index">Go To Dictionaries</a>
</div>
